
.heading{
    padding: 20px;
   
}
.master{
    padding: 50px;
    border-width: 2px;
    background-color:rgb(251, 243, 232);
    border-style: solid;
    margin-top: 40px;
}
.form2{
    display:inline;
    flex-direction: row;
    
}
.Image{
    display: flex;
    justify-content:center;
   margin-top: 10px;
}
.forms{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form2 input {
    display: flex;
    height: 80px;
}
.nav-color{
    background-color: bisque;
    padding: 10px;
}
.image{
    margin-right: 100px;
}
.image1{
    margin-bottom: 30px;
}

